[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flasgger = "*"
pylint-flask-sqlalchemy = "*"
invoke = "*"
responses = "*"

[packages]
python-dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
simplejson = "*"
marshmallow = "*"
marshmallow_enum = "*"
boto3 = "*"
requests = "*"
pyjwt = "*"
flask-cors = "*"
secrets = "*"
pyopenssl = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.openfido-utils]
editable = true
git = "git@github.com:slacgismo/openfido-utils.git"
ref = "master"
