[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flasgger = "*"
pylint-flask-sqlalchemy = "*"
invoke = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
flanker = "*"
pyjwt = "*"
freezegun = "*"
sendgrid = "*"
python-dotenv = "*"
requests = "*"
flask-cors = "==3.0.9"
black = "*"
boto3 = "*"
openfido-utils = {editable = true, git = "git@github.com:slacgismo/openfido-utils.git", ref = "master"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
